@model IEnumerable<Cineplus_DSW_Proyecto.Models.Proveedor>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "editar", new {  id=item.idProveedor  },new {@class="btn btn-outline-info font-weight-bold"})
                     @Html.ActionLink("Delete", "eliminar", new {  id=item.idProveedor  },new {@class="btn btn-outline-danger font-weight-bold"})
                </td>
            </tr>
        }
    </tbody>
</table>
