@model Cineplus_DSW_Proyecto.Models.Cliente

@{
    ViewData["Title"] = "crear";
}




<div class="row">
    <div class="col-3 mt-2">
        <h2>Cliente <i class="fas fa-users-cog"></i></h2>
        <hr />
        <form asp-action="crear" method="post">
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" placeholder="Nombre...." />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" placeholder="Teléfono...." type="number" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" placeholder="Dirección...." />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" placeholder="example@gmail.com" />
                <span asp-validation-for="email" class="text-danger"></span>
                <span class="text-danger">@ViewBag.duplicado</span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <select asp-for="estado" class="form-control">
                    <option selected value="B">[Seleccionar]</option>
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
                <span asp-validation-for="estado" class="text-danger"></span>
                <span class="text-danger">@ViewBag.validacion</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar" style="font-weight:bold;" class="btn btn-primary" />
            </div>
        </form>

        @if (@ViewBag.mensaje != null)
        {
            <div class="alert alert-primary" role="alert">@ViewBag.mensaje</div>
        }
    </div>

    <div class="col-9">
        <h1>Mantenimiento de Clientes <span class="badge badge-pill badge-primary">@ViewBag.cantidadClientes</span> </h1>
        @await Html.PartialAsync("_listado",(IEnumerable<Cineplus_DSW_Proyecto.Models.Cliente>) @ViewBag.clientes)
    </div>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
