@model IEnumerable<Cineplus_DSW_Proyecto.Models.Boleta>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte de Ventas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background-color:#f0ffff;">

    <h1 class="text-center"><span class="badge badge-primary" style="font-size:4.6rem">Reporte de Ventas</span></h1>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.codBoleta)
                </th>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.idCliente)
                </th>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.fechaBoleta)
                </th>
                <th style="font-size:1.3rem">
                    @Html.DisplayNameFor(model => model.precioTotal)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                double precio = item.precioTotal;
                string precioFormato = string.Format("{0:C}", precio);
                <tr>
                    <td style="font-size:1.3rem">
                        @Html.DisplayFor(modelItem => item.codBoleta)
                    </td>
                    <td style="font-size:1.3rem">
                        @Html.DisplayFor(modelItem => item.idCliente)
                    </td>
                    <td style="font-size:1.3rem">
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td style="font-size:1.3rem">
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td style="font-size:1.3rem">
                        @item.fechaBoleta.ToString(string.Format("yyyy/MM/dd"))
                    </td>
                    <td style="font-size:1.3rem">
                        @precioFormato
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
